# Cartelle di build
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.vcxproj.user
*.suo
*.ncb
*.sdf
*.ipch

# File temporanei e di sistema
*.obj
*.pch
*.idb
*.pdb
*.ipdb
*.iobj
*.log
*.tlog
*.lastbuildstate

# File e cartelle di Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.vcxproj.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
